.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.card-img-top {
  height: 200px; /* Adjust the height as needed */
  object-fit: cover; /* Ensures the image covers the area */
}

.card-footer {
  background-color: transparent;
  border-top: none;
}